body, h1 {
  margin: 0px;
  padding: 0px;
}

body{
  align:center;
}

#main {

max-width:410px;
margin:auto;
border:3px solid gray;
}

section {

  padding:10px 0;
  border-top:1px dashed gray;
}

section.edit, div.edit {
  display: none;
}

/*
#button_trigger {
  width:calc(100% - 70px);
}
*/

button.automate {
  width:320px;
  font-size:2rem;
  border-radius:10px;
  margin:5px 0 5px 0;
  font-weight:bold;
}

section#buttons a:link, section#buttons a:visited {
  font-size: 2rem;
  text-decoration: none;
}
section#buttons a:hover {

}

section#buttons a.delete {
  color: #CD0402;
}

section#buttons a.top {
  color: blue;
}

section#buttons a.edit {
  color: #000;
}

.white {  background-color: #fff }
.yellow { background-color: #F2E926}
.orange { background-color: #FA9600}
.pink {   background-color: #b660c5}
.green {  background-color: #45BF55}
.blue {   background-color: #1B76FF}
.red {    background-color: #CD0402}
.black {  background-color: #000;color:#fff;}