body, h1 {
  margin: 0px;
  padding: 0px;
}

section {
  width:100%;

  padding:10px 0;
  border-top:1px dashed gray;
}

section.edit, div.edit {
  display: none;
}

/*
#button_trigger {
  width:calc(100% - 70px);
}
*/

button.automate {
  width:320px;
  font-size:2rem;
  border-radius:20px;
  margin:5px 0 5px 0;
}


/*colors
white
yellow
orange
red
pink
green
blue



*/


.yellow {
  background-color: #F2E926
}

.orange {
  background-color: #FA9600
}

.pink {
  background-color: #b660c5
}

.green {
  background-color: #45BF55;
}

.blue {
  background-color: #1B76FF;
}

.red {
  background-color: #f33c40;
}


