body, h1 {
  margin: 0px;
  padding: 0px;
}

section {
  width:100%;

  padding:10px 0;
  border-top:1px dashed gray;
}

section.edit, div.edit {
  display: none;
}

/*
#button_trigger {
  width:calc(100% - 70px);
}
*/

button.automate {
  width:320px;
  font-size:2rem;
  border-radius:20px;
  margin:5px 0 5px 0;
}
*/